
<nav aria-label="MORE">
	<ul class="pagination">
		<li{{ @result.pos == 0 ? ' class="disabled"' :''}}>
			<a href="/browse" aria-label="First">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>

		<repeat group="{{ @pagination }}" value="{{ @pg }}">
				<li{{ @pg.value == @PARAMS.page ? ' class="active"' : '' }}><a href="/browse/{{ @PARAMS.id }}/{{ @pg.value }}">{{ @pg.value + 1}}</a></li>
		</repeat>

		<li{{ @result.pos == (@result.count - 1) ? ' class="disabled"' :''}}>
			<a href="/browse/{{ @PARAMS.id }}/{{ @result.count - 1 }}" aria-label="Next">&raquo;</a>
		</li>
	</ul>
</nav>
		